# Slack Webhook URL for channel notifications
SLACK_WEBHOOK_ALERTS_CRITICAL=https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK
SLACK_WEBHOOK_ALERTS_WARNINGS=https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK
# Pushover Credentials for critical alerts
PUSHOVER_USER_KEY=YOUR_PUSHOVER_USER_KEY
PUSHOVER_API_TOKEN=YOUR_PUSHOVER_API_TOKEN
